Repository bmf-san/ggc, pull requests merged in 2025-09, with the labels that each got.

#159 docs: add Homebrew installation method to README (refs upstream#158)
  .gitignore
  README.md
Labels: documentation

#161 feat: Improve Interactive Mode Search with Fuzzy Matching
  README.md
  cmd/interactive.go
  cmd/interactive_test.go
Labels: enhancement

#171 chore: Updated features section in readme
  README.md
Labels: documentation

#172 feat(cli): Unify CLI format
  CONTRIBUTING.md
  README.md
  cmd/add.go
  cmd/add_test.go
  cmd/branch.go
  cmd/branch_test.go
  cmd/clean.go
  cmd/cmd.go
  cmd/cmd_test.go
  cmd/commit.go
  cmd/commit_test.go
  cmd/complete.go
  cmd/config.go
  cmd/config_test.go
  cmd/constructor_test.go
  cmd/fetch.go
  cmd/fetch_test.go
  cmd/help.go
  cmd/interactive.go
  cmd/interactive_test.go
  cmd/rebase.go
  cmd/rebase_test.go
  cmd/remote.go
  cmd/restore.go
  cmd/status.go
  cmd/templates/help.go
  cmd/version.go
  cmd/version_test.go
  tools/completions/ggc.bash
  tools/completions/ggc.fish
  tools/completions/ggc.zsh
Labels: enhancement

#173 feat(interactive): Cursor nav in interactive mode
  README.md
  cmd/interactive.go
  cmd/interactive_unicode_test.go
Labels: enhancement

#174 fix: reduce cyclomatic complexity in processCSIFinalByte function
  cmd/interactive.go
Labels: bug

#176 cmd(rebase): Implement basic rebase ops and flows
  README.md
  cmd/add_test.go
  cmd/branch_test.go
  cmd/clean_test.go
  cmd/cmd.go
  cmd/cmd_test.go
  cmd/commit_test.go
  cmd/complete_test.go
  cmd/help.go
  cmd/interactive.go
  cmd/rebase.go
  cmd/rebase_test.go
  cmd/templates/help.go
  git/git.go
  git/rebase.go
  internal/testutil/git_client.go
  tools/completions/ggc.bash
  tools/completions/ggc.fish
  tools/completions/ggc.zsh
Labels: enhancement

#180 add: more missing tests
  cmd/version.go
  git/branch.go
  git/branch_test.go
  git/clean_test.go
  git/commit_test.go
  git/reset_test.go
Labels: enhancement

#185 chore: improve test cover in main
  main.go
  main_test.go
Labels: enhancement

#186 chore: improve test coverage
  cmd/branch_test.go
  cmd/tag_test.go
  cmd/version_test.go
Labels: enhancement

#190 feat(cmd): add keybindings config
  cmd/keybinding_parser.go
  cmd/keybinding_parser_test.go
  cmd/keybinding_resolver_test.go
  cmd/keybindings.go
  cmd/keybindings_layers_test.go
  config/config.go
  config/config_test.go
Labels: enhancement

#191 feat(cmd): Keybindings Interactive Wiring
  cmd/context_manager_test.go
  cmd/interactive.go
  cmd/interactive_terminal_test.go
  cmd/interactive_test.go
  cmd/keybindings.go
  cmd/new_ui_config_test.go
  cmd/ui_state_test.go
Labels: enhancement

#192 feat(cmd): Keybindings Tooling
  cmd/interactive.go
  cmd/keybinding_parser.go
  cmd/keybindings.go
  cmd/keybindings_features_test.go
  cmd/keybindings_layers_test.go
  cmd/platform_optimizations_test.go
  cmd/runtime_profile_switch_test.go
  config/config.go
  docs/keybindings-examples.md
  docs/terminal-mapping.md
Labels: enhancement

#196 Update readme docs
  README.md
  cmd/cmd.go
  cmd/cmd_test.go
  cmd/complete.go
  cmd/complete_test.go
  cmd/constructor_test.go
  cmd/templates/help.go
  docs/keybindings-examples.md
  docs/terminal-mapping.md
  tools/completions/ggc.bash
  tools/completions/ggc.fish
  tools/completions/ggc.zsh
Labels: documentation

#199 feat(cmd): Keybindings debugger with debug-keys
  cmd/cmd.go
  cmd/debug.go
  cmd/debug_comprehensive_test.go
  cmd/debug_keys_command_test.go
  cmd/debug_test.go
  cmd/templates/help.go
  router/debug_integration_test.go
  router/router.go
  router/router_test.go
Labels: enhancement

#202 feat(cmd): Introduce centralized command registry and metadata, docs generation
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  cmd/cmd.go
  cmd/cmd_test.go
  cmd/command/categories.go
  cmd/command/registry.go
  cmd/command/registry_test.go
  cmd/command/types.go
  cmd/debug.go
  cmd/help.go
  cmd/interactive.go
  cmd/templates/help.go
  tools/cmd/gendocs/main.go
Labels: enhancement
