Repository bmf-san/ggc, pull requests merged in 2025-07, with the labels that each got.

#23 Add diff and status to available commands
  README.md
  cmd/help.go
Labels: documentation, enhancement

#28 feat: add support fot git commit --amend
  README.md
  cmd/commit.go
  cmd/commit_test.go
  cmd/help.go
  cmd/interactive.go
  cmd/templates/help.go
  tools/completions/ggc.bash
Labels: enhancement

#43 chore: add community standards, format code, update README, and fix commit command bugs
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md.md
  .github/SECURITY.md
  .github/dependabot.yml
  CONTRIBUTING.md
  Makefile
  README.md
  cmd/cmd.go
  cmd/commit.go
  cmd/commit_test.go
  cmd/constructor_test.go
  cmd/diff.go
  cmd/fetch_test.go
  cmd/log_test.go
  cmd/remote_test.go
  cmd/stash_test.go
  cmd/status.go
  cmd/tag.go
  cmd/tag_test.go
  cmd/templates/help.go
  cmd/version.go
  cmd/version_test.go
  git/stash_test.go
  router/router.go
  router/router_test.go
Labels: bug, documentation, enhancement

#48 Fixed heading in readme
  README.md
Labels: documentation

#50 feat: display current branch and upstream info in status output
  cmd/status.go
  cmd/status_test.go
Labels: enhancement

#54 feat: add fish shell completion support
  README.md
  install.sh
  tools/completions/ggc.fish
Labels: enhancement

#52 feat: add configuration file support
  README.md
  cmd/cmd.go
  cmd/config.go
  cmd/config_test.go
  cmd/constructor_test.go
  cmd/help.go
  cmd/interactive.go
  cmd/status.go
  cmd/templates/help.go
  config/config.go
  config/config_test.go
  go.mod
  go.sum
  main.go
  router/router.go
  router/router_test.go
  tools/completions/ggc.bash
Labels: enhancement

#55 feat: add hook management command
  README.md
  cmd/cmd.go
  cmd/constructor_test.go
  cmd/help.go
  cmd/hook.go
  cmd/hook_test.go
  cmd/interactive.go
  cmd/templates/help.go
  router/router.go
  router/router_test.go
  tools/completions/ggc.bash
  tools/completions/ggc.fish
Labels: enhancement

#56 fix: ensure version info in build, add fast build commands
  Makefile
  README.md
Labels: bug

#70 docs: add pre-compiled binary installation section
  README.md
Labels: documentation

#71 docs: clarify dependencies and reformat command list
  README.md
Labels: documentation

#84 feat: add native Zsh completion script
  README.md
  install.sh
  tools/completions/ggc.zsh
Labels: enhancement

#87 Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: security

#95 feat: add support for `ggc restore` command
  README.md
  cmd/branch_test.go
  cmd/cmd.go
  cmd/cmd_test.go
  cmd/complete_test.go
  cmd/constructor_test.go
  cmd/help.go
  cmd/restore.go
  cmd/restore_test.go
  cmd/status_test.go
  cmd/templates/help.go
  git/git.go
  git/restore.go
  git/restore_test.go
  router/router.go
  router/router_test.go
  tools/completions/ggc.bash
  tools/completions/ggc.fish
  tools/completions/ggc.zsh
Labels: enhancement

#102 chore(deps): bump goreleaser/goreleaser-action from 5 to 6
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
Labels: dependencies

#104 feat: Add Basic Command Description to Interactive Mode
  cmd/interactive.go
  cmd/interactive_test.go
Labels: documentation
